<dom-module id="eric-projects">
  <template name={{name}} desc={{desc}}>
    <style>
    #icon{
      position: absolute;
      top: 15px;
      right: 15px;
    }
    </style>
    <ul class="collection">
     <li class="collection-item">
       <h5 class="title">{{name}}</h5>
       <p>{{desc}}</p>
       <a id="enterProject" class="secondary-content"><i id="icon" class="material-icons">send</i></a>
     </li>
   </ul>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'eric-projects',
    attached: function(){
      $('#enterProject').click(function (e){
        // yolo
        var projectID = e.target.parentElement.parentElement.parentElement.parentElement.attributes['projectid'].value;
        toast("Not implemented yet, sorry.");
      });
    }
  });
</script>
