<dom-module id="eric-switches">
  <template label={{name}}>
    <style>
      .txtbox {
        display:inline-block;
      }
      .switch {
        display: inline-block;
      }

      #num {
        margin-left: 30px;
        position: relative;
        top: -30px;
        display: inline-flex;
      }
      #switch1 {
        float: left;
      }
    </style>
    <div class="col">
      <p>{{name}}</p>
      <div class="eric-switches">
        <div class="switch" id="switch1">
          <label>
              No
            <input type="checkbox" id="inputTag">
            <span id="switch" class="lever"></span>
              Yes
          </label>
        </div>
        <div id="num">
          <div class="txtbox">
            <div class="input-field col s6 txtbx">
              <input type="number" class="validate" min="0">
              <label for="num1">Ideal Number</label>
            </div>
          </div>
          <div class="txtbox">
            <div class="input-field col s6 txtbx">
              <input type="number" class="validate" min="0">
              <label for="num2">Ideal Skill Level</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: "eric-switches",
    attached: function() {
      var swit = $(this.$.switch);
      var num = $(this.$.num);
      num.css({opacity: 0})
      swit.click(function() {
        if (num.css("opacity") == 0){
          num.animate({
            opacity: 1
          }, 300);
        }
        else {
          num.animate({
            opacity: 0
          }, 500);
        }
      });
    }
  });
</script>
